#all_prof_container{
	margin-bottom:15px;
	border-bottom:1px solid #343434;
	padding-bottom:5px;
	padding-left:5px;
}
.sl{
	display:inline-block;
}
#main_content
{
	overflow:hidden;
	margin-bottom:10px;
}
#left_content{
	float:left;
	margin-left:5px;
	width:150px;
}
#left_content > img{
	border:1px outset #323232;
}
#right_content{
	float:left;
	margin-left:10px;
}
.cover{
	display:block;
	margin-bottom:5px;
}
.rt{
	display:inline-block;
	border:1px solid #000;
	padding:1px 5px;
	margin:0 2px;
	background:silver;
	color:#2a2a2a;
}
#rt_txt{
	display:inline-block;
	margin-bottom:5px;
}
hr{
	border:1px solid #343434;
}
