#all_prof_container{
	margin-bottom:15px;
	border-bottom:1px solid #343434;
	padding-bottom:5px;
	padding-left:5px;
}
.sl{
	display:inline-block;
}
#main_content
{
	overflow:hidden;
	margin-bottom:10px;
}
