.main{
	margin:5px 0 0 0;
	padding:4px 0;
	border-top:1px solid #2a2a2a;
	position:relative;
}
.img{
	margin-left:5px;
}
.name{
	display:inline-block;
	position:relative;
	bottom:70px;
}
.val{
	position:absolute;
	bottom:30px;
	left:110px;
}
